  .Sofia {
    
    background-color: rgba(136, 38, 38, 0.363);
    color: rgb(43, 138, 50);
    text-align: center;
    font-size: 10px;
    font-family: "Sofia", sans-serif;
    display: inline;
  }
  .menu {
    background-color:green;
    padding: 10px 0;
    text-align: center;
  }
  .menu1 a {
    color: greenyellow;
    text-decoration: aqua;
    padding: 0 50px;
    margin: 0 50px;
    transition: background-color 0.3;

  }
  .menu2 a:hover{
    background-color: aqua;
  }
  .banner {
    /* Define a altura do banner */
    height: 300px;
    /* Define a largura do banner */
    width: 100%;
    /* Define a imagem de fundo e ajusta a sua posição */
    background: url('imagenscss/downloa1.jpg') no-repeat center center/cover;
    /* Adiciona uma sombra ao redor do banner */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Define o texto como branco */
    color: rgb(5, 253, 38);
    /* Centraliza o texto verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Define uma fonte e seu tamanho */
    font-family: Arial, sans-serif;
    font-size: 24px;
    /* Adiciona uma sombra ao texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  .fundimg{
    background: url('imagenscss/fotobambu.jpg') no-repeat center center/cover;

}


 